<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-info">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navcollapse" aria-controls="navcollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">GroBro</a>
  <div class="collapse navbar-collapse" id="navcollapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{__ 'Home' }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{__ 'Graphs' }}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{__ 'Devices' }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navdropdown">
          <a class="dropdown-item" href="#">{{__ 'CO2' }}</a>
          <a class="dropdown-item" href="#">{{__ 'Temperature' }}</a>
          <a class="dropdown-item" href="#">{{__ 'Humidity' }}</a>
          <a class="dropdown-item" href="#">{{__ 'Air' }}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{__ 'Settings' }}</a>
      </li>
    </ul>
  </div>
</nav>